   .first-section li {
    margin-bottom: 8px;
  }
  .first-section ul {
    background-color: #F7F9FC;
    margin-top: 25px;
    padding: 30px 55px;
    border-radius: 8px;
  }

  header {
    background-color: #F0F8FF;
    padding:140px 0 100px;
    background-image: url("../img/jumping_cats.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @media (min-width: 576px) {
    header {
      padding: 200px 0;
    }
  }

  .first-section {
    background-color: white;
  }
  .section {
    padding: 60px 0 40px;
  }

  @media (min-width: 576px) {
    .section {
      padding: 100px 0;
    } 
  }

  body {
    color: #4a4a4a;
  }
  .first-section img {
    margin-bottom: 35px;
  }
  
  @media (min-width: 768px) {
    .first-section img {
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .first-section img {
      margin-bottom: 0;
    }
  }
  h1 {
    color: #000000;
    font-size: 36px;
  }

  @media (min-width: 576px) {
    h1 {
      font-size: 48px;
    }
  }

  .second-section {
    background-color: #FBFBFB;
  }

  .second-section p {
    color: #9DA2A6;
  }
  
  .second-section img {
    height: 75px;
    margin: 25px 0 10px;
    width: 75px;
  }